.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.nome-competidor {
    font-size: 20px;
    width: 500px;
    display: block;
    margin-right: 120px;
}

#nome {
    font-size: 20px;
    background-color: rgb(224, 240, 238);
    width: 500px;

}

#overlay {
    position: absolute; 
    bottom: 350px;
    left: 650px;
    width: 600px;
    height: 250px;
    background: rgb(221, 221, 221);
    opacity: 1;
    z-index: 2;
  }

#modal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    margin: 70px 30px 40px 60px;
  }
  
#content {
    border-radius:8px;
    background:#fff;
    padding:20px;
    font-size: 24px;
  }

#close {
    position: absolute;
    left: 550px;
    bottom: 160px;
    color: black;
    font-size: 40px;
}

.displayNone {
    display: none;
}

