.campo-digitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-desativado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}

.nome-competidor {
    font-size: 20px;
    width: 500px;
    display: block;
    margin-right: 120px;
}

#nome {
    font-size: 20px;
    background-color: rgb(224, 240, 238);
    width: 500px;

}

.botoes{
    display: inline-block;
}

#overlay {
    position: absolute; 
    bottom: 50%;
    left: 30%;
    width: 450px;
    height: auto;
    margin: 50px;
}

#modal {
    display: block;
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
    margin: 70px 30px 40px 60px;
}

#content {
    border-radius:8px;
    background:rgb(255, 116, 116);
    padding:20px;
    font-size: 24px;
}

#close {
    position: relative;
    float: right;
    left: 40px;
    bottom: 40px;
    color: black;
    font-size: 40px;
}

.displayNone {
    display: none;
}

